body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
section {
    margin-bottom: 20px;
}
.flex-container {
    display: flex;
    text-align: justify;
}
.orange-color {
    color: orange;
}
.width-half {
    width: 50%;
    justify-content: center;
    padding: 5%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiance-item {  
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 150px;
    border-radius: 10px;
}
.experiance-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#full-stack-experince {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer {
    margin-top: 50px;
    text-align: center;
}